body{
    font: Roboto;
    display:flex;
    flex-direction: column;    
}
.header{
    display: flex;
    background-color: #1f2937;
}

.banner{
    display: flex;
    background-color: #1f2937;
    height: 30vw;
}

.picsAndInfoContent{
    display: flex;
}

.callToAction{
    display: flex;
    height: 30vw;
    background-color: #3882f6;
}

.quote{
    background-color: #e5e7eb;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}